h1{


text-align: center;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color:darkgreen


}

h2{

text-align: center;
color: green;

}

#ReturnBack{

text-indent: 48%;


}

#NextPage{

text-align: start;
text-indent:49%



}

#content{

text-align: center;

}

#Chapter_2{

    text-align: end;
    font-size: 300%;
    
}

#Contents_Return{


    text-align:start;
    font-size:300%
    

}

p{


font-family: Georgia, 'Times New Roman', Times, serif;


}

a{

font-family: Verdana, Geneva, Tahoma, sans-serif;


}

#index_start{

color:blue;


}